body{
	background-color: #dad4ef;
	color: #654cbd;
	text-align: center;
}

h1{
  border-style: dotted;
  border-width: thick;
  border-color: #6a994e;
}
h3{
  color: #6a994e;
}
.red{
  color: red;
}
.yellow {
	background-color: #f2e8cf;
}
.answeroption {
 cursor: pointer;
}
.correct {
 cursor: pointer;
}
.button {
  padding: 13px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #04AA6D;
}
.button1:hover {
  background-color: #04AA6D;
  color: white;
}
